<div class="container product-main">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-7">
            <div class="row">

                <!-- Mobile -->

                <div class="col-8 text-left d-block d-lg-none">
                    <p *ngIf="product" class="product-title">{{this.product.name}}</p>
                </div>
                <div class="col-4 text-right d-block d-lg-none">
                    <p *ngIf="product" class="product-prize">$ {{this.product.price}}</p>
                </div>
                
                <div class="col-12">
                    <img *ngIf="product" src="{{this.product.imageUrl}}" class="product-img img-fluid">
                </div>


            </div>
        </div>  
        <div class="col-12 col-lg-6 col-xl-5">
            <div class="row">

                <!-- Desktop -->

                <div class="col-lg-8 text-left d-none d-lg-block">
                    <p *ngIf="product" class="product-title">{{this.product.name}}</p>
                </div>
                <div class="col-lg-4 text-right d-none d-lg-block">
                    <p *ngIf="product" class="product-prize">$ {{this.product.price}}</p>
                </div>

                <div class="col-12">
                    <p *ngIf="product" class="product-sku">SKU: {{this.product.sku}}</p>
                    <p class="product-size">Talla : 9 US <span>Size Guide</span></p>                    
                </div>
                <div class="col-12 col-md-6 col-lg-12">
                    <p class="product-description">This long sleeve henley is paired with our original curve-hem giving a classic an elevated bottom cut to reduce bunching around the waist.</p>
                </div>
                <div class="col-lg-2 d-none d-lg-block"></div>    
                <div class="col-12 col-md-6 col-lg-8 product-qty">
                    <button class="btn btn-qty" (click)="rest()">-</button>
                    <button class="btn btn-qty" (click)="add()">+</button>
                    <p>Quantity : <span>{{qty}} </span> </p>
                    <button (click)="addProduct()" class="btn btn-black btn-add-product"> Add To Cart</button>
                    <p class="product-details">Free Shipping + Free Returns</p>
                </div>

            </div>
        </div>  
    </div>
</div>
<app-best-sellers></app-best-sellers>