<div class="container-fluid menu shadow">
    <div class="row justify-content-between align-items-center">
        <div class="col-4 text-center d-block d-lg-none">
            <i class="fas fa-bars menu-icon"></i>
        </div>

        <div class="col-lg-5 text-center d-none d-lg-block">
            <ul class="menu-ul">
                <li class="menu-li">
                    <a [routerLink]="['/home']">TENNIS</a>   
                </li>
                <li class="menu-li">
                    <a [routerLink]="['/home']">COLLECTIONS</a>   
                </li>
                <li class="menu-li">
                    <a [routerLink]="['/home']">TENDENCY</a>   
                </li>
            </ul>
        </div>

        <div class="col-4 col-lg-2 text-center">
            <a [routerLink]="['/home']" >
                <img src="../../../assets/img/logo.png" class="img-logo img-fluid">
            </a>
        </div>

        <div class="col-4 text-center d-block d-lg-none">
            <a (click)="openCartShopping()">
                <i class="fas fa-shopping-cart menu-icon"></i>
            </a>
        </div>

        <div class="col-lg-5 text-center d-none d-lg-block">
            <ul class="menu-ul">
                <li class="menu-li">
                    <a [routerLink]="['/home']">BRAND</a>   
                </li>
                <li class="menu-li">
                    <a [routerLink]="['/home']">HELP</a>   
                </li>
                <li class="menu-li">
                    <a [routerLink]="['/home']"><i class="fas fa-search menu-icon"></i></a>   
                </li>
                <li class="menu-li">
                    <a (click)="openCartShopping()">
                        <i class="fas fa-shopping-cart menu-icon"></i>
                        <span *ngIf="numberProducts != 0">{{numberProducts}}</span>
                    </a>
                </li>
            </ul>
        </div>


    </div>
</div>