<div class="container-fluid menu">
    <div class="row justify-content-between align-items-center">
        <div class="col-4 text-center d-block d-lg-none">
            <i class="fas fa-bars menu-icon"></i>
        </div>

        <div class="col-lg-5 text-center d-none d-lg-block">
            <ul class="menu-ul">
                <li class="menu-li">
                    ALL SHIRTS
                </li>
                <li class="menu-li">
                    COLLECTIONS
                </li>
                <li class="menu-li">
                    COLLABS
                </li>
            </ul>
        </div>

        <div class="col-4 col-lg-2 text-center">
            <a [routerLink]="['/homeb']" >
                <img src="../../../assets/img/logo.png" class="img-logo img-fluid">
            </a>
        </div>

        <div class="col-4 text-center d-block d-lg-none">
            <i class="fas fa-shopping-cart menu-icon"></i>
        </div>

        <div class="col-lg-5 text-center d-none d-lg-block">
            <ul class="menu-ul">
                <li class="menu-li">
                    BRAND
                </li>
                <li class="menu-li">
                    HELP
                </li>
                <li class="menu-li">
                    <i class="fas fa-search menu-icon"></i>
                </li>
                <li class="menu-li">
                    <i class="fas fa-shopping-cart menu-icon"></i>
                </li>
            </ul>
        </div>


    </div>
</div>