<div class="container bestSellers">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Best Sellers</h3>
        </div>
        <div class="col-12 col-md-4 bestSellets-card">
            <span class="bestSellers-mark">
                New
            </span>
            <img src="https://cdn.shopify.com/s/files/1/0341/3498/2796/products/tenisblancos.jpg?v=1585776720" class="bestSellers-img img-fluid">      
            <p class="product-category"> Heather Grey </p>
            <p class="product-title"> Tennis Blancos</p>
            <p class="product-prize"> $48 </p>
            <a [routerLink]="['/product', 78909876]" class="btn btn-black">
                SHOP NOW
            </a>
        </div>
        <div class="col-12 col-md-4 bestSellets-card">
            <span class="bestSellers-mark">
                New
            </span>
            <img src="https://cdn.shopify.com/s/files/1/0341/3498/2796/products/camisa.jpg?v=1582591220" class="bestSellers-img img-fluid">      
            <p class="product-category"> Heather Grey </p>
            <p class="product-title"> Tennis Blancos</p>
            <p class="product-prize"> $48 </p>
            <a [routerLink]="['/product', 78909876]" class="btn btn-black">
                SHOP NOW
            </a>
        </div>
        <div class="col-12 col-md-4 bestSellets-card">
            <span class="bestSellers-mark">
                New
            </span>
            <img src="https://cdn.shopify.com/s/files/1/0341/3498/2796/products/tenis.jpg?v=1585775299" class="bestSellers-img img-fluid">      
            <p class="product-category"> Heather Grey </p>
            <p class="product-title"> Tennis Blancos</p>
            <p class="product-prize"> $48 </p>
            <a [routerLink]="['/product', 78909876]" class="btn btn-black">
                SHOP NOW
            </a>
        </div>
    </div>
</div>