<div class="container bestSellers">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Best Sellers</h3>
        </div>
        <div *ngFor="let product of productsList" class="col-12 col-md-4 bestSellets-card">
            <span class="bestSellers-mark">
                New
            </span>
            <img src="{{ product.imageUrl }}" class="bestSellers-img img-fluid">      
            <p class="product-category"> Heather Grey </p>
            <p class="product-title"> {{ product.name }}</p>
            <p class="product-prize">$ {{ product.price}}</p>
            <a [routerLink]="['/product', product.productId]" class="btn btn-black">
                SHOP NOW
            </a>
        </div>
    </div>
</div>
