<div class="container promotions">
    <div class="row">
        <div class="col-12 col-md-6 promotions-card">
            <img src="assets/img/190923_2ND_DAY_16_1554_1200x.jpg" class="promotions-img img-fluid">
            <a class="btn btn-white promotions-btn">BEST SELLERS</a>
        </div>
        <div class="col-12 col-md-6 promotions-card">
            <img src="assets/img/banner/andrew-neel-fqoYO9MjLLQ-unsplash.jpg" class="promotions-img img-fluid">
            <a class="btn btn-white promotions-btn">PROMOTIONS</a>
        </div>
        <div class="col-12 col-md-12 promotions-card">
            <img src="assets/img/banner/yoel-peterson-4VJIGu1cV-c-unsplash.jpg" class="promotions-img img-fluid">
            <a class="btn btn-white promotions-btn">CATEGORY</a>
        </div>
    </div>
</div>
