/* You can add global styles to this file, and also import other style files */
$textgray: #c4c4c4; 
$textgreen: #90968a;
$textdarkgreen: #444c44;
$background-green: #90968a;
$background-white: #f6f6f6;
$background-gray: #edece8 ;

*{
    font-family: 'Roboto', sans-serif;
}


//Buttons

.btn{
    outline: 0;
    
    &.btn-white{
        letter-spacing: 2px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 15px 30px;

        &:active , &:hover{
            background-color: white;
            color: black;
            border-color: black;
        }
        
    }



    &.btn-black{
        font-size: .6em;
        letter-spacing: 2px;
        background-color: black;
        border: 1px solid white;
        color: white;
        padding: 6px 20px;
        margin-top: 10px;
        margin-left: 5%;

        &:active , &:hover{
            background-color: white;
            color: black;
            border-color: black;
        }

        &.btn-add-product{
            font-size: .8em;
            padding: 20px;
            display: block;
            width: 100%;
            margin:  0 auto;
        }
    }


    &.btn-qty{
        border: 1px solid black;
        border-radius: 0px;
        margin-bottom: 20px;
    }

    &:focus , &:active , &:hover{
        outline: 0;
    }



}



// Menu 

.menu{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)!important;
    .menu-icon{
        font-size: 1.5em;
    }
}


//HOME

//Banner Home

.banner{
    background-image: url("assets/img/banner/askar-ulzhabayev-BsME4qPA-O0-unsplash.jpg");
    background-size: cover;
    background-position: top center;
    padding: 40px 0px;
    min-height: 350px;

    h2{
        color: white;
        font-size: 3em;
        line-height: 1.1;
        font-weight: 900;
    }  
    
    .row{
        min-height: 350px;
    }

}


//Best Sellers

.bestSellers{
    padding-top: 60px;
    padding-bottom: 60px;

    h3{
        font-weight: 500;
        margin-bottom: 50px;
    }

    .bestSellets-card{

        padding-bottom: 60px;

        .bestSellers-mark{    
            font-weight: 500;
            font-size: .7em;
            top: 10px;
            left: 50px;
            display: block;
            position: absolute;
            padding: 5px 15px;
            border: 1px solid $textgreen;
            color: $textgreen;;
        }
    
        .bestSellers-img{
            padding-top: 30px;
            padding-bottom: 30px;
            width: 80%;
            display: block;
            margin: 0 auto;
        }
    
        p{
            width: 90%;
            margin: 0 auto;
    
            &.product-category{
                font-weight: 300;
                font-size: .8em;
            }
    
            &.product-title{
                font-weight: 500;
                font-size: 1.2em;
                letter-spacing: 2px;
            }
            &.product-prize{
                font-weight: 800;
                font-size: 1em;
            }
        }

    }

    
}



//PRODUCT 

.product-main{
    padding-top: 40px;
    padding-bottom: 80px;

    p{
        margin: 0px;
        padding: 0px;
    }

    .product-title{
        font-size: 1em;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .product-prize{
        font-size: 1.4em;
        font-weight: 700;
    }

    .product-img{
        padding-bottom: 20px;
    }

    .product-sku{
        text-align: center;
        font-size: .7em;
        color: $textgreen;
        padding-bottom: 5px;
    }

    .product-size{

        color: $textdarkgreen;
        text-align: center;
        font-size: .8em;
        padding-bottom: 20PX;

    }

    .product-description{        
        color: $textdarkgreen;
        font-weight: 300;
        text-align: justify;
        line-height: 1.2;
        padding-bottom: 30px;

    }

    .product-qty{
        text-align: center;
        padding-bottom: 30px;
        p{
            font-weight: 500;
            span{
                font-weight: 700;
            }
        }
        .product-details{
            text-align: right;
            font-weight: 500;
            font-size: .6em;
            padding-top: 20px;
            padding-right: 15px;
        }
    }


    


}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
 
    .menu{
        
        .img-logo{
            width: 100px;
        }

    }
    

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
    .banner{
        min-height: 50vh;

        h2{
            font-size: 4.5em;
            width: 70%;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        
        .row{
            min-height: 50vh;
        }

    }


    //PRODUCT 

    .product-main{
        padding-top: 70px;

        .product-title{
            font-size: 2em;
            letter-spacing: 3px;
            padding-bottom: 40px;
        }

        .product-prize{
            font-size: 2.4em;
        }

        .product-img{
            width: 70%;
            display: block;
            margin: 0 auto;
        }

        .product-sku{
            font-size: 1.2em;
        }

        .product-size{
            font-size: 1.8em;
        }

        .product-description{        
            padding-top: 40px;
        }

        .product-qty{
            padding-top: 20px;
            p{                
                padding-bottom: 20px;
            }
        }


    }   




 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 


     //Menu

     .menu{

        padding-top: 10px;
        padding-bottom: 10px;

        .img-logo{
            width: 70px;
        }

        .menu-icon{
            font-size: 1em;
            padding-left: 15px;
        }

        .menu-ul{
            text-decoration: none;
            padding-top: 10px;

            .menu-li{
                display: inline;
                padding-right: 15px;
            }

        }
    }


    //Banner
    

    .banner{
        min-height: 60vh;

        h2{
            width: 70%;
            font-size: 5.5em;
        }
        
        .row{
            min-height: 60vh;
        }

    }

     
    //PRODUCT 

     .product-main{
        padding-top: 40px;

        .product-title{
            font-size: 1.2em;
            padding-top: 5px;
            padding-bottom: 10px;
        }

        .product-prize{
            font-size: 1.4em;
        }

        .product-img{
            width: 85%;
        }

        .product-sku{
            text-align: left;
            font-size: .8em;
        }

        .product-size{
            text-align: left;
            font-size: 1em;
        }

        .product-description{        
            padding-top: 10px;
        }

        .product-qty{
            padding-top: 0px;
            p{                
                padding-bottom: 10px;
            }
        }


    }   
    

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

   


    //Banner
    
    .banner{
        
        height: 80vh;
        background-image: url("assets/img/banner/gabrielle-henderson-_0oCrcsVShU-unsplash.jpg");
        background-position: 20% center;

        h2{
            font-size: 8em;
            width: 80%;            
        }
        
        .row{
            height: 80vh;
        }

    }


    //PRODUCT 

    .product-main{
        padding-top: 80px;

        .product-title{
            font-size: 1.2em;
            padding-bottom: 70px;
        }

        .product-prize{
            font-size: 1.2em;
        }

        .product-img{
            width: 90%;
        
        }

        .product-sku{
            font-size: 0.8em;
        }

        .product-size{
            font-size: 0.9em;
        }

        
        .product-qty{
            padding-top: 0px;
            p{                
                padding-bottom: 10px;
            }
        }


    } 



 }
